/*Normalizar Css, el asterisco es el selector universal*/
*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}
/*Armando estructura de cajas*/
body {
    /*familia de fuentes: 'Open Sans', sans-serif;*/
    border:3px solid red;
    margin:5px;
    padding:10px;
    background-color: rgb(245, 237, 237);
}

/*Aquí empieza nuestros estilos del header*/
header{
    
    border: 3px solid blue;
    margin-bottom: 10px;
    padding: 5px;

}
/*selector de etiqueta:*/
nav{
    border: 2px solid green;
    padding: 10px;
}
/*Selector de clase, siempre lleva un . (punto) antes del 
nombre de la clase*/
.nav_Header{
    border: 2px dashed yellow;
    padding: 25px;
}
/*listas del Header*/
.list-item_Header{
    border: 2px solid violet;
    padding: 10px;
}
.link_Header{
    border: 1px solid purple;
    padding: 5px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}
/*Estilos del contenido (Main) dselector de id lleva siempre un# (Almohadilla antes del nombre del id)*/
#mainContent{
    border: 2px solid black;
}
/*subitulo del articulo del main*/
h2{
    padding: 12px;
    border: 3px solid rgb(86, 128, 39);
    margin-right: 7px;
    margin-left: 7px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.div-article_Main{
    padding: 14px;
    border: 10px solid rgb(86, 128, 39);
    margin-right: 2px;
    margin-left: 5px;
}

.article_Main{
    padding: 14px;
    border: 2px solid rgb(80, 230, 10);
    margin-right: 7px;
    margin-left: 7px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.subtittle_Main{
    padding: 14px;
    border: 2px solid rgb(36, 148, 13);
    margin-right: 7px;
    margin-left: 7px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.subtitle_Aside{
    padding: 8px;
    border: 4px dotted violet;
    margin-right: 7px;
    margin-left: 7px;
    margin-bottom: 10px;
    margin-top: 10px;

    
}
.list-item_aside{
    border: 1px dotted violet;
    padding: 6px;
    margin-right: 7px;
    margin-left: 7px;
    margin-bottom: 10px;
    margin-top: 10px;

}
.link_aside{
    border: 1px solid violet;
    padding: 1px;
    text-decoration: none;
    color: black;
    font-weight: 600;
    margin-left: 5px;
}

/*footer{
    border: 2px solid yellow;
    padding: 7px;
    margin-bottom: 10px;
    margin-top: 10px;
}*/
#footerContent{
    border: 2px solid yellow;
    padding: 7px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.paragraph_Footer{
    border: 2px solid red;
    padding: 10px;
    
}